################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.tmp
/.vs/config
obj/
bin/
packages/
